-- Example 0
1

2
NY
NN
-- Example 1
3

5
NYYNY
YNYYY
YYNYY
YNYNY
YYYYN
-- Example 2
720

8
NYYYYYYY
YNYYYYYY
YYNYYYYY
YYYNYYYY
YYYYNYYY
YYYYYNYY
YYYYYYNY
YYYYYYYN
-- Example 3
288

8
NYYYYNYY
YNYYYYYY
YYNYYYNY
YYYNYYYY
YNYYNYYY
YYYYYNYN
YYNYYYNY
YYYYYNNN
